.App {
  text-align: center;
}

.App-logo {
  height: 60px;
}

.App-header {
  background-color: #1494dd;
  height: 60px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.staff-directions{
  margin-top: 0px;
  font-size: large;
  padding-top: 4px;
  background-color: #f2f2f2;
  height: 30px;
}
